@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f4fb;
  color: #2e2a3d;
  margin: 0;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}